*.bin
*.swp
*.class
*.DS_Store

# Package Files #
*.war
*.ear
*.jar

build/
classes/

.gradle/
*.iml
.idea/
out
*~

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
codecov.xml

instance/

# Nosetests
cover
coverage.xml
nosetests.xml
